@tailwind base;
@tailwind components;
@tailwind utilities;

.Black-overla{
    background-color: rgba(red, green, blue, alpha);

}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}